<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/assets/customer/customer.css}">
    <link rel="stylesheet" th:href="@{/assets/fragments/customer-table.css}">
</head>
<!-- Breadcrumb Items -->
<th:block layout:fragment="breadcrumb-items">
    <wa-breadcrumb-item th:text="#{customer.customers}">
    </wa-breadcrumb-item>
</th:block>
<body>
<main layout:fragment="content">
    <div>
        <div class="table-toolbar">
            <form hx-get="/customer/search"
                  hx-trigger="keyup changed delay:500ms"
                  hx-target="#customer-table"
                  hx-indicator="#loading-indicator"
                  hx-swap="innerHTML">
                <wa-input th:placeholder="#{customer.search_customer}" size="small" name="name" type="text" id="search-input">
                    <wa-icon name="search" slot="start"></wa-icon>
                </wa-input>
                <input type="hidden" name="tenantId" th:value="${user.ctx.currentTenant.id}"/>
            </form>
            <wa-button size="small" th:href="'/customer/new?tenantId=' + ${user.ctx.currentTenant.id}"
                       variant="neutral" th:text="#{customer.create_customer}">
            </wa-button>
        </div>
        <wa-progress-bar id="loading-indicator" indeterminate class="htmx-indicator"
                         style="margin-bottom: var(--wa-space-xs)"></wa-progress-bar>
        <div th:replace="~{fragments/customer-table :: table(customers=${customers})}"></div>
    </div>
</main>
<th:block layout:fragment="scripts">
    <script th:src="@{/assets/customer/customer.js}"></script>
</th:block>
</body>
</html>
