<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/assets/fragments/contact-table.css}">
</head>
<body>
<main layout:fragment="content">
    <div>
        <div class="wa-split wa-gap-s">
            <form th:hx-get="@{/htmx/contact/{type}/search(type=${type.toLowerCase()})}"
                  th:hx-trigger="'keyup changed delay:500ms'"
                  th:hx-target="'#customer-table'"
                  th:hx-target-error="'#r-callout'"
                  th:hx-indicator="'#loading-indicator'"
                  th:hx-swap="'innerHTML'">
                <wa-input th:placeholder="|#{contact.search} ${type}|" size="small" name="name" type="text"
                          id="search-input">
                    <wa-icon name="search" slot="start"></wa-icon>
                </wa-input>
            </form>
            <wa-button size="small" th:href="@{/contact/{type}/new(type=${type.toLowerCase()})}"
                       variant="neutral" th:text="|#{contact.create} ${type}|">
            </wa-button>
        </div>
        <wa-progress-bar id="loading-indicator" indeterminate class="htmx-indicator"
                         style="margin-bottom: var(--wa-space-xs)"></wa-progress-bar>
        <div th:replace="~{fragments/contact-table :: table(contacts=${contacts}, type=${type})}"></div>
    </div>
</main>
<th:block layout:fragment="scripts">
    <script th:src="@{/assets/contact/contact.js}"></script>
</th:block>
</body>
</html>
