.table-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--wa-space-l);
}

@media screen and (max-width: 768px) {
    .table-toolbar {
        flex-direction: column;
    }
}
