<div xmlns:th="http://www.thymeleaf.org" th:if="${callout}" style="margin-bottom: var(--wa-space-m);">
    <wa-callout th:attr="variant=${callout.variant()}, data-link=${callout.link}" open
                th:classappend="${callout.link != null} ? 'clickable-callout' : ''"
                th:style="${callout.link != null} ? 'cursor: pointer;' : ''">
        <wa-icon slot="icon" th:attr="name=${callout.icon()}" variant="regular"></wa-icon>
        <span th:text="${callout.message}" />
        <wa-icon th:if="${callout.link != null}" slot="action" name="arrow-up-right-from-square"
                 variant="regular"></wa-icon>
    </wa-callout>
</div> 