<table class="custom-table" id="customer-table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Person/Company</th>
        <th>Organization Number</th>
        <th class="text-right">Actions</th>
    </tr>
    </thead>
    <tbody id="customer-table-body">
    <tr th:if="${customers == null || customers.isEmpty()}">
        <td colspan="4" class="no-data">No customers found</td>
    </tr>

    <tr th:each="customer : ${customers}" th:id="'row-' + ${customer.id}">
        <td data-label="Name" th:text="${customer.name}"></td>
        <td data-label="Type" th:text="${customer.type.type}"></td>
        <td data-label="Person/Company" th:text="${customer.privateCustomer? 'private person' : 'company'}"></td>
        <td data-label="Organization Number" th:text="${customer.organizationNumber}"></td>
        <td data-label="Actions" class="text-right">
            <wa-button
                    size="small"
                    variant="danger"
                    th:attr="
                    hx-target='#row-' + ${customer.id},
                    hx-delete='/customer/' + ${customer.id} + '?tenantId=' + ${user.ctx.currentTenant.id},
                    hx-indicator='#loading-indicator-' + ${customer.id}
                    "
                    hx-disabled-elt="this"
                    hx-swap="outerHTML swap:0.5s"
                    hx-confirm="Are you sure you want to delete this customer?">
                Delete
            </wa-button>
        </td>
    </tr>
    </tbody>
</table>
