<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
</head>

<body>
<main layout:fragment="content">
    <div class="container py-4">
        <!-- Welcome Header -->
        <div class="row mb-4">
            <div class="col">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <p class="text-muted mb-0">
                            <span th:text="#{dashboard.welcome.message}" />
                            <span class="fw-bold" th:text="${user.username}" />
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
</body>
</html> 