<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" class="wa-theme-matter wa-palette-mild wa-brand-purple">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{login.page.title}"/>
    <th:block th:replace="~{layout/libs :: common-libs}"></th:block>
</head>

<body hx-ext="response-targets">
<div class="wa-stack wa-align-items-center" style="justify-content: center; height: 100vh">
    <div style="width: 340px">
        <wa-card style="width: 100%">
            <div id="r-callout"></div>
            <form th:hx-post="@{/htmx/auth/login}"
                  th:hx-target-error="'#r-callout'"
                  th:hx-swap="'innerHTML'">
                <div class="wa-stack">
                    <h2 class="wa-heading-m" th:text="#{login.form.title}"/>
                    <wa-input th:label="#{email.label}" type="email" id="email" name="email" required></wa-input>
                    <wa-input th:label="#{password.label}" type="password" id="password" name="password"
                              required></wa-input>
                    <a href="/auth/signup" th:text="#{login.form.signup.link}"/>
                    <wa-button type="submit" variant="brand" th:text="#{login.form.submit.button}"></wa-button>
                </div>
            </form>
        </wa-card>
        <div style="text-align: center; margin-top: var(--wa-space-s)">
            <p class="wa-body-xs" th:text="#{login.footer.security.message}"/>
        </div>
    </div>
</div>

<script th:src="@{/assets/login/login.js}"></script>
</body>
</html> 