<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <link rel="stylesheet" th:href="@{/assets/ledger/chart-of-accounts.css}">
</head>

<body>
<main layout:fragment="content">
    <div>
        <div class="r-chart-of-accounts-container">
            <div id="content-area">
                <div th:fragment="tableContent">
                    <div th:unless="${accounts.empty}">
                        <div style="overflow-x: auto;">
                            <table class="r-chart-of-accounts-table">
                                <thead>
                                <tr>
                                    <th style="width: 15%;" th:text="#{account}" />
                                    <th style="width: 35%;" th:text="#{account_name}" />
                                    <th style="width: 15%;" th:text="#{account_type}" />
                                    <th style="width: 35%;" th:text="#{description}" />
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="account : ${accounts}">
                                    <td>
                                        <span class="r-account-number" th:text="${account.noAccountNumber}" />
                                    </td>
                                    <td>
                                        <span class="r-account-name" th:text="${account.accountName}" />
                                    </td>
                                    <td>
                                        <span class="r-account-name" th:text="${account.accountType}" />
                                    </td>
                                    <td>
                                        <span class="r-account-description" th:text="${account.accountDescription}" />
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div th:if="${accounts.empty}" class="r-empty-state">
                        <div class="r-empty-state-icon">
                            <wa-icon name="table"></wa-icon>
                        </div>
                        <h3 th:text="#{no_Data_available}" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
</body>
</html>
