<!DOCTYPE html>
<html
  lang="en"
  dir="ltr"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/base}"
>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/assets/employees/employee-table.css}" />
  </head>
  <body>
    <main layout:fragment="content">
      <div>
        <div class="wa-split wa-gap-s">
          <wa-input
            placeholder="Search employees"
            size="small"
            name="search"
            type="text"
            id="search-input"
            th:hx-get="@{/htmx/employees/search}"
            th:hx-trigger="'input changed delay:500ms, keyup[key==\'Enter\']'"
            th:hx-target="'#employee-table'"
            th:hx-indicator="'.htmx-indicator'"
            th:hx-swap="'innerHTML'"
          >
            <wa-icon name="search" slot="start"></wa-icon>
          </wa-input>
          <wa-button
            size="small"
            th:href="@{/employees/create}"
            variant="neutral"
          >
            <wa-icon name="plus" slot="prefix"></wa-icon>
            New Employee
          </wa-button>
        </div>

        <span class="htmx-indicator" style="display: none">
          <wa-progress-bar
            indeterminate
            style="margin-bottom: var(--wa-space-xs)"
          ></wa-progress-bar>
          Searching...
        </span>

        <div
          id="employee-table"
          th:replace="~{fragments/employee-table :: table(employees=${employees})}"
        ></div>
      </div>
    </main>
  </body>
</html>
