.r-voucher-reception-container {
    background: var(--wa-color-surface-default);
    border-radius: 12px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.r-voucher-reception{
    padding: var(--wa-space-m);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

wa-copy-button::part(button) {
    color: white ;
    fill: white ;
    background: transparent ;
    transition: none;
    animation: none;
}


.r-voucher-reception-table {
    width: 100%;
    border-collapse: collapse;
    font-size: var(--wa-font-size-s);
}

.r-voucher-reception-table th {
    background: var(--wa-color-surface-raised);
    padding: var(--wa-space-m) var(--wa-space-s);
    text-align: left;
    font-weight: 600;
    color: var(--wa-color-gray-30);
    border-bottom: 2px solid var(--wa-color-gray-90);

}

.r-voucher-reception-table td {
    padding: var(--wa-space-s) var(--wa-space-xs);
    border-bottom: 1px solid var(--wa-color-surface-raised);
}

.r-voucher-reception-table tr:hover {
    background-color: var(--wa-color-surface-raised);
}

.r-empty-state {
    text-align: center;
    padding: var(--wa-space-4xl);
    color: var(--wa-color-gray-50);
}

.r-empty-state-icon {
    font-size: var(--wa-font-size-4xl);
    margin-bottom: var(--wa-space-m);
    opacity: 0.5;
}

@media (max-width: 768px) {

    .r-voucher-reception-table {
        font-size: var(--wa-font-size-xs);
    }

    .r-voucher-reception-table th,
    .r-voucher-reception-table td {
        padding: var(--wa-space-s) var(--wa-space-2xs);
    }
}