.r-text-right {
    text-align: right;
}

@media (max-width: 768px) {
    .r-text-right {
        justify-content: flex-end;
    }
}

.r-no-data {
    text-align: center;
    padding: var(--wa-space-m);
    font-style: italic;
    color: var(--wa-color-text-quiet);
}
