.r-custom-table {
    width: 100%;
    font-size: var(--wa-font-size-s);
    color: var(--wa-color-text-normal);
    background-color: var(--wa-color-surface-default);
    border-collapse: collapse;
    border-radius: var(--wa-border-radius-l);
    overflow: hidden;
    box-shadow: var(--wa-shadow-m);
}

.r-custom-table thead {
    background-color: var(--wa-color-brand-fill-normal);
    color: black;
}

.r-custom-table th,
.r-custom-table td {
    padding: var(--wa-space-s) var(--wa-space-m);
    border-bottom: var(--wa-border-width-s) var(--wa-border-style) var(--wa-color-surface-border);
    text-align: left;
}

.r-custom-table .r-text-right {
    text-align: right;
}

.r-custom-table tbody tr:hover {
    background-color: var(--wa-color-brand-fill-quiet);
}

.r-custom-table .r-no-data {
    text-align: center;
    padding: var(--wa-space-m);
    font-style: italic;
    color: var(--wa-color-text-quiet);
}

@media (max-width: 768px) {
    .r-custom-table thead {
        display: none;
    }

    .r-custom-table tr {
        display: block;
        margin-bottom: var(--wa-space-s);
        border: var(--wa-border-width-s) var(--wa-border-style) var(--wa-color-surface-border);
        border-radius: var(--wa-border-radius-m);
        padding: var(--wa-space-s);
        background: var(--wa-color-surface-default);
    }

    .r-custom-table td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        padding: var(--wa-space-xs) var(--wa-space-s);
        border: none;
        font-size: var(--wa-font-size-s);
    }

    .r-custom-table td::before {
        content: attr(data-label);
        font-weight: var(--wa-font-weight-semibold);
        color: var(--wa-color-text-quiet);
        flex-basis: 45%;
    }

    .r-text-right {
        justify-content: flex-end;
    }
}
