<!DOCTYPE html>
<html dir="ltr" lang="en" layout:decorate="~{layout/base}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/assets/voucher/advanced-voucher.css}">

    <th:block th:replace="~{fragments/r-combobox :: r-combobox-dependencies}"></th:block>
</head>

<body>
<main layout:fragment="content">
    <div class="container py-4">

        <div id="form-messages"/>

        <div class="htmx-indicator" id="loading-indicator" style="display: none;">
            <div class="alert alert-info">
                <wa-icon name="clock" style="margin-right: 0.5rem;"/>
                <span th:text="#{voucher_saving}"/>
            </div>
        </div>

        <form hx-indicator="#loading-indicator"
              hx-target="#form-messages"
              id="voucherForm"
              onsubmit="return validateAndPrepareForm(event);"
              th:attr="hx-post='/htmx/voucher/create?tenantId=' + ${user.ctx.currentTenant?.id}">

            <div class="posting-form mb-4">
                <div class="form-header">
                    <h4 style="margin: 0;" th:text="#{voucher_information}"/>
                    <wa-button th:text="#{voucher_upload_files}"/>
                </div>

                <div class="wa-stack">
                    <div>
                        <label class="form-label" for="voucherDate" th:utext="#{voucher_date_label}">Date <span
                                class="text-danger">*</span></label>
                        <wa-input class="form-control" id="voucherDate" name="voucherDate" required size="small"
                                  th:value="${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd')}"
                                  type="date"/>
                    </div>
                    <div>
                        <label class="form-label" for="voucherDescription" th:text="#{description}"/>
                        <wa-input class="form-control" id="voucherDescription" name="voucherDescription"
                                  size="small"
                                  th:placeholder="#{voucher_description_placeholder}"
                                  type="text"/>
                    </div>
                </div>
            </div>

            <div class="posting-form">
                <div class="form-header">
                    <h4 style="margin: 0;" th:text="#{postings}"/>
                    <small class="text-muted" th:text="#{debits.credits}"/>
                </div>

                <table class="posting-table">
                    <thead>
                    <tr>
                        <th style="width: 90px;" th:text="#{date}"/>
                        <th style="width: 160px;" th:text="#{debit}"/>
                        <th style="width: 160px;" th:text="#{credit}"/>
                        <th style="width: 100px;" th:text="#{amount}"/>
                        <th style="width: 70px;" th:text="#{currency}"/>
                        <th th:text="#{description}"/>
                        <th style="width: 60px;" th:text="#{action}"/>
                    </tr>
                    </thead>
                    <tbody id="postingLines">
                    <!-- Initial posting line will be added via HTMX on page load -->
                    </tbody>
                    <tfoot id="balanceFooter">
                    <tr class="balance-row">
                        <td></td>
                        <td class="balance-total"><span id="totalDebit">0.00</span></td>
                        <td class="balance-total"><span id="totalCredit">0.00</span></td>
                        <td class="balance-total"><span id="balanceAmount">0.00</span></td>
                        <td colspan="3"></td>
                    </tr>
                    </tfoot>
                </table>

                <div class="form-actions">
                    <wa-button onclick="addPostingLine()"
                               size="small"
                               th:text="#{voucher_new_row}"
                               type="button"
                               variant="neutral"/>

                    <wa-button id="saveButton" size="small" th:text="#{voucher_create}" type="submit"
                               variant="success"/>
                </div>
            </div>
        </form>


    </div>
</main>

<th:block layout:fragment="scripts">
    <script th:inline="javascript">
        // Clear form if success flag is set
        const clearForm = /*[[${clearForm ?: false}]]*/ false;
    </script>

    <script th:src="@{/assets/voucher/advanced-voucher.js}"></script>
</th:block>
</body>
</html> 
