<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="common-libs">
    <!-- Web Awesome -->
    <link rel="stylesheet"
          href="https://early.webawesome.com/webawesome@3.0.0-alpha.13/dist/styles/themes/default.css"/>
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.13/dist/styles/webawesome.css"/>
    <script type="module"
            src="https://early.webawesome.com/webawesome@3.0.0-alpha.13/dist/webawesome.loader.js"></script>

    <!-- HTMX Latest -->
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.5/dist/htmx.min.js"></script>

    <!-- HTMX Extensions -->
    <script src="https://unpkg.com/htmx.org/dist/ext/loading-states.js"></script>
</head>
</html>
